<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>BARD<title>
	<meta name='description' content=''>
	<meta name='viewport' content='width=device-width' initial-scale='1'>
	<link rel='stylesheet' href='components/normalize-css/normalize.css'>
	<link rel='stylesheet' href='styles/main.css'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato'>
</head>
<body>
	<!--[if lte IE 8]><script>(function(){var e="abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i]);}}());</script><![endif]-->

	<div class="container" ng-view></div>

	<script src='components/angular/angular.min.js'></script>
	<script src='components/angular-route/angular-route.min.js'></script>
	<script src='scripts/main.js'></script>
</body>
</html>