<h1 id="command-line-interface-cli-">Command Line Interface (CLI):</h1>
<h3 id="pwd">pwd</h3>
<ul>
<li>prints out your preset working directory</li>
</ul>
<hr>
<h3 id="history">history</h3>
<ul>
<li>prints out all commands that have been typed since the OS has been installed</li>
</ul>
<hr>
<h3 id="cd-directory-">cd <directory></h3>
<ul>
<li>changes directory</li>
<li>if you enter this command without a directory name, it will take you to the home folder of your computer</li>
</ul>
<h6 id="options">Options</h6>
<ul>
<li>..<ul>
<li>changes to parent folder of current directory</li>
<li>you can chain &#39;..&#39; by typing &#39;../../&#39; and so on to go back as many folders as you would like</li>
</ul>
</li>
<li>~<ul>
<li>changes to home folder</li>
</ul>
</li>
</ul>
<hr>
<h3 id="ls">ls</h3>
<ul>
<li>stands for &#39;listing&#39;</li>
<li>lists all files in current directory</li>
</ul>
<hr>
<h3 id="ll-same-as-ls-l-">ll (same as ls -l)</h3>
<ul>
<li>stands for &#39;listing long&#39;</li>
<li>lists all files in current directory with their system information</li>
</ul>
<hr>
<h3 id="subl">subl</h3>
<ul>
<li>opens Sublime Text</li>
</ul>
<h6 id="options">Options</h6>
<p><strong>.</strong>  <em>opens entire current directory in Sublime Text</em></p>
<p><strong>directory name</strong> <em>opens directory in Sublime Text</em></p>
<hr>
<h3 id="open">open</h3>
<h6 id="options">Options</h6>
<p><strong>file name</strong> <em>opens file in default application</em></p>
<h6 id="examples-">Examples:</h6>
<p><code>open a.txt</code></p>
<hr>
<h3 id="mkdir">mkdir</h3>
<h6 id="options-">Options:</h6>
<p><strong>name</strong> <em>makes new directory with this name</em></p>
<h6 id="examples-">Examples:</h6>
<p><code>mkdir development</code></p>
<hr>
<h3 id="touch">touch</h3>
<h6 id="options-">Options:</h6>
<p><strong>name</strong> <em>makes new file with this name</em></p>
<h6 id="examples-">Examples:</h6>
<p><code>touch a.txt</code></p>
<hr>
<h3 id="rm">rm</h3>
<ul>
<li>removes file</li>
<li>in order to remove a directory, you must enter &#39;-rf&#39; between rm and filename</li>
</ul>
<h6 id="options-">Options:</h6>
<p><strong>-r</strong> <em>recursively removes directory</em></p>
<p><strong>-rf</strong> <em>recursively and forces removal of directory</em></p>
<h6 id="examples-">Examples:</h6>
<p><code>rm a.txt</code></p>
<p><code>rm -r /development</code></p>
<hr>
<h3 id="cp">cp</h3>
<ul>
<li>copies file</li>
</ul>
<h6 id="examples-">Examples:</h6>
<p><code>cp a.txt b.tx</code></p>
<hr>
<h3 id="mv">mv</h3>
<ul>
<li>renames file</li>
</ul>
<h6 id="examples-">Examples:</h6>
<p><code>mv a.txt b.txt</code></p>
<hr>
<h3 id="echo">echo</h3>
<h6 id="options-">Options:</h6>
<p><strong>string</strong> <em>prints out string if no filename is passed after it or writes string to file is filename is passed after it.</em></p>
<h6 id="examples-">Examples:</h6>
<p><code>echo &#39;meow&#39;</code></p>
<p><code>echo &#39;meow&#39; &gt; a.txt</code></p>
<hr>
<h3 id="tail">tail</h3>
<ul>
<li>shows the last lines of a file</li>
</ul>
<h6 id="examples-">Examples:</h6>
<p><code>tail a.txt</code></p>
<hr>
<h3 id="cat">cat</h3>
<ul>
<li>displays the content of a files</li>
</ul>
<h6 id="examples-">Examples:</h6>
<p><code>cat a.txt</code></p>
<hr>
<h3 id="grep">grep</h3>
<ul>
<li>searches text</li>
</ul>
<h6 id="examples-">Examples:</h6>
<p><code>history | grep whoami</code></p>
<hr>
<h3 id="man">man</h3>
<ul>
<li>stands for manual</li>
<li>will open the manual for any command typed after it</li>
</ul>
<h6 id="examples">Examples</h6>
<p><code>man grep</code></p>
