<h1 id="the-terminal">The Terminal</h1>
<h2 id="bash">Bash</h2>
<h2 id="commands">Commands</h2>
<h3 id="open">open</h3>
<pre><code>&gt; open .
</code></pre><p>This command will open the current directory in Finder</p>
<pre><code>&gt; open path/to/directory
</code></pre><p>This command will open the specified directory in Finder.</p>
<pre><code>&gt; open filename
</code></pre><p>This command will open the specified file in the default application.</p>
<h3 id="cd">cd</h3>
<pre><code>cd directoryname
</code></pre><p>This command will changed the present working directory to the directory specified.</p>
