body
	font-size: 16px
	font-family: 'Lato', serif

.stark-nav
	padding: 0.5em;
	border-bottom: 1px solid #ccc
	.brand
		font-size 1.3em
	a
		font-weight: 700
		color: rgba(0,0,0,1)
		text-decoration: none