<h1 id="functions">Functions</h1>
<pre><code>var makeKittyPurr = function() {
    /* code to execute */
};
</code></pre><h2 id="ways-to-declare">Ways to declare</h2>
<ol>
<li>Assign to a variable</li>
<li>Anonymously (callback or immediate execution)</li>
<li>//</li>
</ol>
<h2 id="best-practices">Best Practices</h2>
<ul>
<li>Should always return a value. This allows for method chaining. It may not seem necessary in the moment, but, as your project grows, you will see the value in this practice. </li>
</ul>
