<h1 id="interating-with-a-database">Interating With A Database</h1>
<h2 id="migrations">Migrations</h2>
<p>To generate a migration:</p>
<pre><code>rails g migration CreateBooks
</code></pre><p>When the command above is executed in the terminal, it will generate a Rails migration file which will get executed the next time <code>rake db:migrate</code> is executed.</p>
<pre><code>class CreateBooksTable &lt; ActiveRecord::Migration

    def change
        create_table :books do |t|
            t.string :title
            t.string :body
        end
    end

end
</code></pre><p>In a migration file, there are three possible methods that can be executed, which are <code>up</code>, <code>down</code>, and <code>change</code>. <code>up</code> is used to make additions to a table, <code>down</code> is used to make deletions to a table, and <code>change</code> can be used to do both.</p>
<p>Within these methods, there are several other methods that can be used:</p>
<ul>
<li><code>create_table</code></li>
</ul>
<p>To execute a migration, you can use the <code>rake db:migate</code>. This command will run the unprocessed database migrations.</p>
<h2 id="seeding">Seeding</h2>
<pre><code>rake db:seed
</code></pre><p>Seeding the database is the process of injecting predefined values into your database.</p>
<h2 id="associations">Associations</h2>
<p>Associations are ways of creating a connection between database table, such as saying that a tweet belongs to a certain user or a product belongs in a certain user&#39;s shopping cart.</p>
<h3 id="types-of-associations">Types of Associations</h3>
<p>Associations between database tables are similar to relationships in real life.You share many relationships with members of your family. For instance, you and your mother are related. You have only one mother, but she may have several children. You and your siblings are related—you may have many brothers and sisters and, of course, they&#39;ll have many brothers and sisters as well. If you&#39;re married, both you and your spouse have a spouse—each other—but only one at a time.</p>
<p>There are three types of relational database associations:</p>
<p><strong>One-to-one:</strong> Both tables can have only one record on either side of the relationship. Each primary key value relates to only one (or no) record in the related table. They&#39;re like spouses—you may or may not be married, but if you are, both you and your spouse have only one spouse. Most one-to-one relationships are forced by business rules and don&#39;t flow naturally from the data. In the absence of such a rule, you can usually combine both tables into one table without breaking any normalization rules.</p>
<p><strong>One-to-many:</strong> The primary key table contains only one record that relates to none, one, or many records in the related table. This relationship is similar to the one between you and a parent. You have only one mother, but your mother may have several children. This relationship is also referred to <strong>Has Many-Belongs To</strong>.</p>
<p><strong>Many-to-many:</strong> Each record in both tables can relate to any number of records (or no records) in the other table. For instance, if you have several siblings, so do your siblings (have many siblings). Many-to-many relationships require a third table, known as an associate or linking table, because relational systems can&#39;t directly accommodate the relationship.</p>
<p><strong>Has And Belongs To Many:</strong> With this relation, two or more records can have a relationship with one another through a join table. The join table would be named after the records whose relations are being stored seperated by underscores, such as <em>Posts_Users</em>. The way this relation is expressed is saying that one records has many of another record through the join table. So, a user has many posts through the Post_Users table and a post has many users through the Post_Users table. In this case, our post can have many writers and your writers can have many posts that they&#39;ve written together.</p>
<p>To create a association in a Rails:</p>
<pre><code># /migrations/...
def change
    change_table :posts do |t|
        t.references :user
    end
end

# app/models/post.rb
class Post &lt; ActiveRecord::Base
    belongs_to :user
end

# app/models/user.rb
class User &lt; ActiveRecord::Base
    has_many :posts
end
</code></pre><p>The lines for the migration file will create a column in the table that will hold the id number of the associated model record. So, for a blog post, that column would hold the writer&#39;s id number. The line for the model file will create the connection between the two ActiveRecord classes Post and User. With the above code, you would be able to execute <code>post.user</code> and the object of the user associated with that post would be returned. You would also be able to execute <code>user.posts</code> and an array of all posts associated with that user.</p>
<p>In the posts table, the primary id of the user will be stored in a column names user_id. When the primary id of a record is stored in another table to show association, the id will be referred to as a foreign key because the id is foreign to that table.</p>
