<h1 id="comparisons">Comparisons</h1>
<h3 id="-">&amp;&amp;</h3>
<ul>
<li>stands for &#39;and&#39;</li>
<li>compares two values</li>
<li>this operator will only return true if one of the values being compared is truthy</li>
</ul>
<h5 id="example">Example</h5>
<pre><code class="lang-ruby"> true &amp; true // true
</code></pre>
<pre><code class="lang-ruby">true &amp; false // false
</code></pre>
<hr>
<h3 id="-">||</h3>
<ul>
<li>stands for &#39;or&#39;</li>
<li>compares two values</li>
<li>if one of the values is truthy, it will return that true</li>
<li>if neither of the values is truthy, it will return false</li>
</ul>
<h5 id="example">Example</h5>
<pre><code class="lang-ruby"> true || false // true
</code></pre>
<pre><code class="lang-ruby">false || false // false
</code></pre>
<hr>
<h3 id="-">!</h3>
<ul>
<li>stands for &#39;not&#39;</li>
<li>returns the inverse value of the value that comes after it</li>
</ul>
<h5 id="example">Example</h5>
<pre><code class="lang-ruby">!true // false
</code></pre>
<hr>
<h3 id="-">&gt;</h3>
<ul>
<li>stands for &#39;greater than&#39;</li>
</ul>
<h5 id="example">Example</h5>
<pre><code class="lang-ruby">23 &gt; 18 // true
</code></pre>
<h3 id="-">&lt;</h3>
<ul>
<li>stands for &#39;less than&#39;</li>
</ul>
<h5 id="example">Example</h5>
<pre><code class="lang-ruby">23 &lt; 18 // false
</code></pre>
