<h1 id="strings">Strings</h1>
<h2 id="methods">Methods</h2>
<h3 id="capitalize">capitalize</h3>
<pre><code class="lang-ruby">irb(main)&gt; &quot;meow&quot;.capitalize
=&gt; &quot;Meow&quot;
</code></pre>
<h3 id="-strip">.strip</h3>
<pre><code class="lang-ruby">irb(main)&gt; &quot;hello     &quot;.strip
=&gt; &quot;hello&quot;
</code></pre>
<p>The strip method will return the value of a string with the whitespace at the
end removed.</p>
<h4 id="note-this-method-does-not-change-the-value-of-the-string-">Note: This method does not change the value of the string.</h4>
<h3 id="include-">include?</h3>
<pre><code class="lang-ruby">irb(main)&gt; &quot;cj&quot;.include?(&quot;c&quot;)
=&gt; true
</code></pre>
<p>This method will check to see if the argument is present in the value the
method is called on.</p>
<h3 id="-concat">.concat</h3>
<pre><code class="lang-ruby">irb(main)&gt; &quot;ROFL&quot;.concat(&quot;copter&quot;)
=&gt; &quot;ROFLcopter&quot;
</code></pre>
<p>This method will combine two strings together.</p>
