<h1 id="variables">Variables</h1>
<pre><code class="lang-ruby">irb(main)&gt; x = 15
irb(main)&gt; y = 20
irb(main)&gt; x + y
=&gt; 35
</code></pre>
<p>Variables are used to store values. They can be used to store a value of any
data type.</p>
<h2 id="data-types">Data Types</h2>
<ul>
<li>Number</li>
<li>Float</li>
<li>String</li>
<li>Booleans</li>
</ul>
<h2 id="naming-conventions-">Naming Conventions:</h2>
<ul>
<li>Camel Case <code>variableName</code></li>
<li>Snake Case: <code>variable_name</code>git push</li>
</ul>
