<h1 id="variables">Variables</h1>
<p>Variables are used to store values. They can be used to store a value of any
data type, such as String, Fixnum, Float, etc.</p>
<h3 id="naming-conventions-">Naming Conventions:</h3>
<ul>
<li>Camel Case <code>variableName</code></li>
<li>Snake Case: <code>variable_name</code></li>
</ul>
<h5 id="examples">Examples</h5>
<pre><code class="lang-ruby">variable_name = 5
</code></pre>
<pre><code class="lang-ruby">x = 15
</code></pre>
<pre><code class="lang-ruby"> y = 20
</code></pre>
<pre><code class="lang-ruby">x + y // 35
</code></pre>
