<h1 id="github">GitHub</h1>
<p><img src="../../assets/images/github.jpg" alt="GitHub"></p>
<ul>
<li><p>A service that hosts Git repositories</p>
</li>
<li><p>Allows you to easily distribute code to others by sharing your repository</p>
</li>
<li><p>Lets you view your code online easily</p>
</li>
<li><p>Free to use as long as you make your code public</p>
</li>
<li><p>Private repositories cost a monthly fee</p>
</li>
</ul>
<h2 id="fork">Fork</h2>
<p>At some point you may find yourself wanting to contribute to someone else&#39;s
project, or would like to use someone&#39;s project as the starting point for your
own. This is known as &quot;forking&quot;.</p>
<p>To fork someone&#39;s repository, you can used the clone command like so:</p>
<pre><code>~&gt; git clone https://github.com/supercooluser/supercoolproject.git
</code></pre><p>Once you clone someone&#39;s repository, the clone&#39;s remote will be still be
pointing to the original repository.</p>
<pre><code>~&gt; git remote -v
origin https://github.com/supercooluser/supercoolproject.git
</code></pre><p>You can leave this configuration as it is if you want to commit your changes
to that original repository. If you want to have the clone in your own GitHub,
go to the GitHub site, create a new repository, copy its HTTPS clone URL which
you will find on the right-hand side of the repository&#39;s main page.</p>
<p><img src="../../assets/images/git-https-clone-url.png" alt="GitHub HTTPS Clone URL"></p>
