<h1 id="css">CSS</h1>
<h2 id="positioning">Positioning</h2>
<h3 id="static">Static</h3>
<pre><code>position: static;
</code></pre><p>Static positioning is the default positioning value for HTML elements and causes the elements to static on.</p>
<h3 id="relative">Relative</h3>
<pre><code>position: relative;
</code></pre><p>Relative positioned elements behave in the exact same way as staticly positioned elements, but this setting allows the element to be offset by top, right, bottom, and left properties. It also allows its children to position themselves relative to it.</p>
<h3 id="absolute">Absolute</h3>
<pre><code>position: absolute;
</code></pre><p>An absolute positioned element is removed from the normal flow of the document and can be place anywhere on the DOM.</p>
<h3 id="fixed">Fixed</h3>
<pre><code>position: fixed;
</code></pre><h3 id="inherit">inherit</h3>
<pre><code>position: inherit;
</code></pre><p>This sett</p>
